.circular-image-small {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: visible;
}
.card {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: $elevation-z12;
  }
}
.card-title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
.card-subtitle {
  font-size: 0.875rem;
  color: $muted;
  .theme-dark & {
    color: rgba(#fff, 0.54);
  }
}

.hide-on-mobile {
  display: inherit;
  @media screen and (max-width: 600px) {
    display: none !important;
  }
}

.hide-on-pc {
  @media screen and (min-width: 1200px) {
    display: none !important;
  }
}

.show-on-pc {
  @media screen and (max-width: 1200px) {
    display: none !important;
  }
}

.VictoryContainer {
  svg {
    height: 100% !important;
  }
}

.box-shadow-none {
  box-shadow: none !important;
}

.circle-44 {
  height: 44px !important;
  width: 44px !important;
}

.circle-32 {
  height: 32px !important;
  min-height: 32px !important;
  width: 32px !important;

  .MuiFab-root {
    min-height: 32px !important;
  }
  .MuiIcon-root {
    font-size: 13px !important;
  }
}

.show-on-mobile {
  display: none !important;
  @include media(767px) {
    display: inherit !important;
  }
}
.invisible-on-pc {
  visibility: hidden;
  @include media(767px) {
    visibility: visible;
  }
}

.highlight-js {
  pre {
    white-space: pre-line;
  }
}
